  <p><span class="color-white">Name.</span> Please enter your Name.</p>
  <%= f.text_field :name, autofocus: true %>

  <p><span class="color-white">Surname.</span> Please enter your Surname.</p>
  <%= f.text_field :surname, autofocus: true %>

  <p><span class="color-white">Phone.</span> Please enter your Phone.</p>
  <%= f.text_field :phone, autofocus: true %>

  <p><span class="color-white">User ID.</span> This is your UserID.</p>
  <%= f.label(:user_id, $user_id) %>