  <p><span class="color-white">Name.</span> Please enter your Name.</p>
  <%= f.text_field :name, autofocus: true %>

  <p><span class="color-white">Surname.</span> Please enter your Surname.</p>
  <%= f.text_field :surname, autofocus: true %>

  <p><span class="color-white">Phone.</span> Please enter your Phone.</p>
  <%= f.text_field :phone, autofocus: true %>

  <p><span class="color-white">User ID.</span> This is your UserID.</p>
  <%= f.text_field :user_id, value:$user_id, autofocus: true, class:"user_id", disabled: true %>