#leader_board {
    .user_edit {
        .form-group {
            float: none !important;
            width: 40%;
            text-align: center;
            margin: 0 auto;
            input {
                text-align: center;
            }
        }
    }
}
